
img {
	border: 1px solid;
	border-color: darkred;
}

body {
	font-family: sans-serif;
	color: darkblue;
	background-color: lightyellow;
}

.subtitle {
	margin-left: 2%;
}

a {
	font-style: italic;
	text-decoration: none;
	color:darkblue;
}

nav a {
	margin-left:2%;
}

table {
	position: relative;
}